.login {
    max-width: 40rem;
    margin: auto;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
}

.login button {
    width: 100%;
    font-size: var(--default-font-size);
}

.login-top {
    h2 {
        font-weight: 600;
        font-size: var(--large-font-size);
        margin-bottom: 1rem;
        text-align: center;
    }
    button {
        font-weight: 700;
        padding: 1rem 0;
    }
}

.login-bottom {
    margin-top: var(--default-spacing);
    text-align: center;
    border-top: 2px solid whitesmoke;
    a {
        margin-top: var(--default-spacing);
        width: 100%;
        font-size: var(--default-font-size);
    }
}
