.tb-row {
    vertical-align: middle;
}

.edit-input {
    background: transparent;
    box-shadow: var(--box-shadow);
    padding-left: 0.5rem;
}

.quantity-input {
    width: 5rem;
}

.measure-input {
    width: 7rem;
}
