.container {
    margin: auto;
}

.form-group {
    h1 {
        width: 100%;
        text-align: center;
    }

    input {
        font-size: 1.6rem;
        padding: 1rem;
    }
}

.form-group-main {
    height: 9rem;
}

.form-group-option {
    display: flex;
    justify-content: space-between;

    a:hover {
        color: black;
        border-bottom: 2px solid black;
    }
}

.form-feedback {
}
