.storage-wrapper {
    height: 50vh;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    overflow: scroll;
}

.btn-attach {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem;
    svg {
        display: inline-block;
        cursor: pointer;
    }
}

.suggest-wrapper {
    padding: var(--default-spacing);
    margin: var(--default-spacing) 0;
    box-shadow: var(--box-shadow);
    h2 {
        font-weight: 600;
    }
}

.suggest-description {
    border-bottom: 1px solid gray;
    p {
        font-size: small;
    }
}

.suggest-wrapper .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    input {
        font-size: small;
        max-width: 200px;
    }
    button {
    }
}

.form-input {
    display: flex;
    span {
        margin-left: 1rem;
    }
}

.storage-tb-row {
    td {
        vertical-align: middle;
    }
}

.storage-button {
    min-width: 0;
    background-color: transparent;
    padding: 0.5rem;
}
